<h1><%= @cocktail.name %></h1>

<%= cl_image_tag @cocktail.photo %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= dose.description %></li>
    (<small><%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %></small>)
  <% end %>
</ul>

<%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-outline-secondary btn-sm' %>
<%= link_to 'See all Cocktails', cocktails_path, class: 'btn btn-outline-primary btn-sm' %>
<p>
  <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-secondary btn-sm' %>
</p>
